body {
    background: #CCCCCC url(../images/bodybg1.png);
    font-family: kalpurush;
    background-attachment: fixed;
}

marquee {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    font-family: kalpurush;
}


.main-menu {
    background: #FAFAFA;
    border-bottom: 2px solid #098346;
}
.main-menu:after {
    content: "";
    clear: both;
    display: block;
}
.carousel-caption {
    font-size: 18px !important;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(52, 73, 94, .8);
    padding: 6px 0 0 15px;
    width: 100%;
    text-align: left;
}


.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu > ul > li {
    float: left;
    position: relative;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #d7d7d7;
    z-index: 999;
}
.main-menu > ul > li:first-child{
    border-left: none;
}
.main-menu > ul > li:last-child{
    border-right: none;
}

.main-menu ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    transition: .5s;
    outline: none;
}
.main-menu > ul > li:nth-child(6n+1) a {
    color: #FF6600;
}
.main-menu > ul > li:hover:nth-child(6n+1) {
    background: #FF6600;
}
.main-menu > ul > li:nth-child(6n+2) a {
    color: #C40A2A;
}
.main-menu > ul > li:hover:nth-child(6n+2) {
    background:  #C40A2A;
}
.main-menu > ul > li:nth-child(6n+3) a {
    color: #84154D;
}
.main-menu > ul > li:hover:nth-child(6n+3) {
    background: #84154D;
}
.main-menu > ul > li:nth-child(6n+4) a {
    color: #098346;
}
.main-menu > ul > li:hover:nth-child(6n+4) {
    background: #098346;
}
.main-menu > ul > li:nth-child(6n+5) a {
    color: #1399BE;
}
.main-menu > ul > li:hover:nth-child(6n+5){
    background: #1399BE;
}
.main-menu > ul > li:nth-child(6n+6) a {
    color: #8768DE;
}
.main-menu > ul > li:hover:nth-child(6n+6) {
    background: #8768DE;
}
.main-menu > ul > li:hover > a {
    color: #FFFFFF;
}
.main-menu ul li:hover ul {
    background: #FFFFFF;
}

/* Sub Menu */

.main-menu ul ul {
    position: absolute;
    top: 140%;
    left: 0;
    width: 160px;
    visibility: hidden;
    transition: .25s;
    background: #FFFFFF;
    opacity: 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.main-menu ul li:nth-child(6n+1)  ul {
    border-top: 5px solid red;
}
.main-menu ul li:nth-child(6n+2)  ul {
    border-top: 5px solid #ED3353;
}
.main-menu ul li:nth-child(6n+3)  ul {
    border-top: 5px solid red;
}
.main-menu ul li:nth-child(6n+4)  ul {
    border-top: 5px solid red;
}
.main-menu ul li:nth-child(6n+5)  ul {
    border-top: 5px solid red;
}
.main-menu ul li:nth-child(6n+6)  ul {
    border-top: 5px solid red;
}


.main-menu ul ul li {
    float: none;
    position: relative;
}
.main-menu ul ul li a {
    padding: 6px 12px;
    font-weight: 300;
    font-size: 14px;
}

.main-menu > ul > li:hover > ul {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

.main-menu ul ul li a {
    color: #333333 !important;
    border-bottom: 1px dashed #cccccc;
    transition: .25s;
}
.main-menu ul ul li:last-child a {
    border-bottom: 1px dashed transparent;
}



.main-menu ul li:nth-child(6n+1) ul li:hover a {
    color: #FF6600 !important;
}
.main-menu ul li:nth-child(6n+2) ul li:hover a {
    color: #C40A2A !important;
}
.main-menu ul li:nth-child(6n+3) ul li:hover a {
    color: #84154D !important;
}
.main-menu ul li:nth-child(6n+4) ul li:hover a {
    color: #098346 !important;
}
.main-menu ul li:nth-child(6n+5) ul li:hover a {
    color: #1399BE !important;
}
.main-menu ul li:nth-child(6n+6) ul li:hover a {
    color: #8768DE !important;
}

.main-menu ul ul ul {
    top: -5px;
    left: 130%;
}

.main-menu ul li:nth-child(2n+1) ul li:hover ul li a, .main-menu ul li:nth-child(2n+2) ul li:hover ul li a {
    color: #000 !important;
}
.main-menu ul li:nth-child(6n+1) ul li ul li:hover a {
    color: #FF6600 !important;
}
.main-menu ul li:nth-child(6n+2) ul li ul li:hover a {
    color: #C40A2A !important;
}
.main-menu ul li:nth-child(6n+3) ul li ul li:hover a {
    color: #84154D !important;
}
.main-menu ul li:nth-child(6n+4) ul li ul li:hover a {
    color: #098346 !important;
}
.main-menu ul li:nth-child(6n+5) ul li ul li:hover a {
    color: #1399BE !important;
}
.main-menu ul li:nth-child(6n+6) ul li ul li:hover a {
    color: #8768DE !important;
}





.main-menu ul ul li:hover ul {
    left: 100%;
    opacity: 1;
    visibility: visible;
}

.profile1 {
    border-radius: 100%;
    position: absolute; left: 25px;
}

.button:hover {
    background-color: #1399BE;
    color: yellow;
}

table {
    width: 100%;
}

table a:hover {
    color: red;
    background-color: chartreuse;
}


table, th, td {
    border: 2px solid red;
}

td:hover {
    background-color: teal;
}

td {
    text-align: center;
    font-size: 20px;
    font-family: kalpurush;
}

a {
    text-decoration: none;
}

.t1 {
    background-color: yellow;
}

.t2 {
    background-color: lightgreen;
}

.t2 td a {
    color: none;
}


.notice-board {
    border: 1px solid #DDDDDD;
    font-size: 1em;
    margin-bottom: 20px;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%,#ebebeb 100%);
    padding: 10px 10px 20px 20px;
}

.notice-board-ticker {
    overflow: auto;
    height: 338px;
}
.notice-board h3 {
    margin: 0;
}
.notice-board-ticker ul {
    margin: 0;
    list-style: none;
    padding: 0 0 0 15px;
}
.notice-board-ticker ul li {
    margin: 7px 0;
    background-size: 10px;
}
.notice-board-ticker ul li a {
    text-decoration: none;
    border-bottom: 2px dotted #9E9E9E;
    color: darkgreen;
    transition: .25s;
    font-weight: bold;
}
.notice-board-ticker ul li a:hover {
    color: red;
    border-bottom: 2px solid blue;
    cursor: pointer;
}

